<div class="jumbotron text-center">
	<h1>Welcome To Healthy ChefCare</h1>
	<h3>Happy living is a healthy life</h3>
	<%= link_to "Sign Up Now", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>View Recipes</h2>
		<h3 class="left">Browse recipes and sign up for free</h3>
		<%= link_to "Recipes listing", "", class: "btn btn-primary" %>
	</div>
	<div class="col-md-4">
		<h2>View Recipes</h2>
		<h3 class="left">Browse recipes and sign up for free</h3>
		<%= link_to "Recipes listing", "", class: "btn btn-primary" %>
	</div>
	<div class="col-md-4">
		<h2>View Recipes</h2>
		<h3 class="left">Browse recipes and sign up for free</h3>
		<%= link_to "Recipes listing", "", class: "btn btn-primary" %>
	</div>
</div>